datasets/classification/inverted/*
!datasets/classification/inverted/.gitkeep
datasets/classification/left/*
!datasets/classification/left/.gitkeep
datasets/classification/right/*
!datasets/classification/right/.gitkeep
datasets/classification/straight/*
!datasets/classification/straight/.gitkeep

datasets/classification_yolo/train/inverted/*
!datasets/classification_yolo/train/inverted/.gitkeep
datasets/classification_yolo/train/left/*
!datasets/classification_yolo/train/left/.gitkeep
datasets/classification_yolo/train/right/*
!datasets/classification_yolo/train/right/.gitkeep
datasets/classification_yolo/train/straight/*
!datasets/classification_yolo/train/straight/.gitkeep
datasets/classification_yolo/val/inverted/*
!datasets/classification_yolo/val/inverted/.gitkeep
datasets/classification_yolo/val/left/*
!datasets/classification_yolo/val/left/.gitkeep
datasets/classification_yolo/val/right/*
!datasets/classification_yolo/val/right/.gitkeep
datasets/classification_yolo/val/straight/*
!datasets/classification_yolo/val/straight/.gitkeep

datasets/detection_yolo/images/train/*
!datasets/detection_yolo/images/train/.gitkeep
datasets/detection_yolo/images/val/*
!datasets/detection_yolo/images/val/.gitkeep
datasets/detection_yolo/labels/train/*
!datasets/detection_yolo/labels/train/.gitkeep
datasets/detection_yolo/labels/val/*
!datasets/detection_yolo/labels/val/.gitkeep

images/*
!images/.gitkeep

pt/

venv/

